.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20px;
}

body{
    background: rgb(188, 225, 235);
}

h1{
    padding: 10px;
    color:black;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heading{
    font-weight: 3000;
    font-size: xx-large;
}